.app-wrapper {
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: "h h h" "n c s";
}

.app-wrapper-content {
    grid-area: c;
}