.nav{
	grid-area: n;
	background-color: white;
	/* padding: 20px; */
	padding-top: 20px;
}

.item{
	margin: 5%;
}

.item a{
	color: rgb(48, 65, 89);
	text-decoration: none;
}

.item a.active{
	font-weight: 900;
}