.friend {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(48, 65, 89);
    border-radius: 100%;
    display: inline-block;
    color: green;
    text-align: center;
    margin: 5px;
}

.friendWrapper {
    margin-top: 15%;
}

.statusFriend {
    font-weight: 900;
    color: rgb(48, 65, 89);
    text-align: center;
}